body {
  background-color: #333;
}

#clock {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  grid-column-gap: 20px;
  height: 200px;
  max-width: 800px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#clock .hours,
#clock .minutes,
#clock .seconds {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.digit.zero .top-horizontal,
.digit.zero .right-top-vertical,
.digit.zero .right-bottom-vertical,
.digit.zero .bottom-horizontal,
.digit.zero .left-bottom-vertical,
.digit.zero .left-top-vertical,
.digit.one .right-top-vertical,
.digit.one .right-bottom-vertical,
.digit.two .top-horizontal,
.digit.two .right-top-vertical,
.digit.two .middle-horizontal,
.digit.two .left-bottom-vertical,
.digit.two .bottom-horizontal,
.digit.three .top-horizontal,
.digit.three .right-top-vertical,
.digit.three .middle-horizontal,
.digit.three .right-bottom-vertical,
.digit.three .bottom-horizontal,
.digit.four .right-top-vertical,
.digit.four .middle-horizontal,
.digit.four .left-top-vertical,
.digit.four .right-bottom-vertical,
.digit.five .top-horizontal,
.digit.five .left-top-vertical,
.digit.five .middle-horizontal,
.digit.five .right-bottom-vertical,
.digit.five .bottom-horizontal,
.digit.six .top-horizontal,
.digit.six .left-top-vertical,
.digit.six .middle-horizontal,
.digit.six .right-bottom-vertical,
.digit.six .bottom-horizontal,
.digit.six .left-bottom-vertical,
.digit.seven .top-horizontal,
.digit.seven .right-top-vertical,
.digit.seven .right-bottom-vertical,
.digit.eight .bar,
.digit.nine .top-horizontal,
.digit.nine .left-top-vertical,
.digit.nine .right-top-vertical,
.digit.nine .middle-horizontal,
.digit.nine .right-bottom-vertical,
.digit.nine .bottom-horizontal,
.digit.dot .dot-bottom,
.digit.dot .dot-top {
  background-color: #2dabf3;
}

.digit {
  display: grid;
  height: 100%;
  /* 	max-width: 250px; */
  /* 	height: 400px; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 5px 10px;
}

.bar {
  background-color: #222;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.top-horizontal {
  grid-area: 1 / 2 / 2 / 5;
}

.bottom-horizontal {
  grid-area: 9 / 2 / 10 / 5;
}

.dot-bottom {
  grid-area: 7 / 3 / 8 / 4;
}

.left-bottom-vertical {
  grid-area: 6 / 1 / 9 / 2;
}

.right-bottom-vertical {
  grid-area: 6 / 5 / 9 / 6;
}

.middle-horizontal {
  grid-area: 5 / 2 / 6 / 5;
}

.left-top-vertical {
  grid-area: 2 / 1 / 5 / 2;
}

.right-top-vertical {
  grid-area: 2 / 5 / 5 / 6;
}

.dot-top {
  grid-area: 3 / 3 / 4 / 4;
}

.border-right-bottom {
  grid-area: 9 / 5 / 10 / 6;
}

.border-left-bottom {
  grid-area: 9 / 1 / 10 / 2;
}

.border-left-middle {
  grid-area: 5 / 1 / 6 / 2;
}

.border-right-middle {
  grid-area: 5 / 5 / 6 / 6;
}

.border-right-top {
  grid-area: 1 / 5 / 2 / 6;
}

.border-left-top {
  grid-area: 1 / 1 / 2 / 2;
}
